.manage-paginationContent {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.manage-paginationItem {
  display: flex;
  align-items: center;
}
.manage-paginationItem.active .manage-paginationLink {
  border: 1px solid #26a69a;
  color: #26a69a;
}
.manage-paginationLink {
  text-decoration: none;
  display: inline-block;
  color: #081c36;
  font-weight: 400;
  padding: 2px 10px;
  border-radius: 5px;
}
.manage-paginationLink:hover,
.manage-paginationLink:focus,
.manage-paginationLink:active {
  text-decoration: none;
}
.manage-paginationLinkPrev:active,
.manage-paginationLinkNext:active,
.manage-paginationLinkNext:focus,
.manage-paginationLinkPrev:focus {
  color: #081c36;
}
.manage-paginationLink:hover {
  color: #26a69a;
}

.manage-paginationLinkPrev,
.manage-paginationLinkNext {
  color: #081c36;
}
.manage-disabled {
  opacity: 0.5;
  cursor: context-menu !important;
  pointer-events: none;
}

/* MAX-WIDTH: 768PX */
@media screen and (max-width: 768px) {
  .manage-paginationItem {
    padding: 8px;
  }
}
/* MAX-WIDTH: 576PX */
@media screen and (max-width: 576px) {
  .manage-paginationItem {
    padding: 4px;
  }
}
