*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  min-height: 100vh;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.table,
.table-all,
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}

.table-all,
table {
  border: 1px solid #ccc;
}

table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table tr:nth-child(even) {
  background-color: #f1f1f1;
}

.table tbody tr:hover {
  background-color: #ccc;
}

.table-centered tr td,
.table-centered tr th {
  text-align: center;
}

.table td,
.table th,
.table-all td,
.table-all th,
table td,
table th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

.table td:first-child,
.table th:first-child,
.table-all td:first-child,
.table-all th:first-child,
table td:first-child,
table th:first-child {
  padding-left: 16px;
}

a:active,
a:focus,
a:hover {
  color: initial;
  text-decoration: none;
}
