@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'reset';

@layer base {
  body {
    background-color: #ffffff;
    color: #081c36;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }
  .containerWidthService {
    max-width: 1000px;
    margin: 0 auto;
  }
  .containerWidth {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .containerWidthFull {
    width: 90vw;
    margin: 0 auto;
    padding: 0 15px;
  }
  .containerWidthHeader {
    width: 95vw;
    margin: 0 auto;
    padding: 0 15px;
  }

  .containerWidthFooter {
    width: 96vw;
    margin: 0 auto;
    padding: 0 15px;
  }

  .containerWidthSearch {
    max-width: 1500px;
    margin: 0 auto;
  }

  .landscape {
    display: block;
    width: 100%;
    padding-top: 56.25%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .square {
    display: block;
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .portrait {
    display: block;
    width: 100%;
    padding-top: 125%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .unselectable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  button,
  [type='button'].rs-btn-primary {
    background-color: #3498ff;
    background-image: none;
  }
  // .slick-list {
  //   margin: 0 -10px;
  //   padding: 10px 0;
  // }
  .slick-list {
    // margin: 0 -10px;
    padding-bottom: 10px;
  }
  .slick-slide > div {
    padding: 0 10px;
  }
  .part-slider .slick-slide > div {
    margin: 0 -10px;
    padding: 0 10px;
  }
  .slick-track {
    margin: 0;
  }
  .modalHome .rs-modal-content {
    padding: 0;
    overflow: hidden;
  }
}
.rs-modal-wrapper {
  display: flex;
}
.rs-modal {
  margin: auto;
}

.blur-all_size {
  background-color: #0000001a;
  transition: background-color 0.3s ease;
}

.btn-custom_submit:hover {
  color: white;
  border: 1px solid black;
  font-weight: 500;
}
.css-13cymwt-control {
  height: 100% !important;
  min-height: auto !important;
}
