@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@layer base {
  body {
    background-color: #ffffff;
    color: #081c36;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }
  .containerWidthService {
    max-width: 1000px;
    margin: 0 auto;
  }
  .containerWidth {
    max-width: 1140px;
    margin: 0 auto;
  }
  .containerWidthSearch {
    max-width: 1500px;
    margin: 0 auto;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  button,
  [type='button'].rs-btn-primary {
    background-color: #3498ff;
    background-image: none;
  }
}
/*# sourceMappingURL=index.css.map */
